@{
    ViewBag.Title = "About";
}

<h2>A demo using MVC4 RC and MVCContrib portable areas (MvcContrib.Mvc3-ci 3.0.100.0)</h2>
<p>  
    The corresponding <a href="http://stackoverflow.com/questions/11023748/dynamically-extending-features-of-an-application">stackoverflow question</a>.
    <br />
    The project site is <a href="https://github.com/AkosLukacs/PluggablePortableAreasMVC4">https://github.com/AkosLukacs/PluggablePortableAreasMVC4</a>.
    <br />
    The MVC3 version is here: <a href="https://github.com/AkosLukacs/PluggablePortableAreas">https://github.com/AkosLukacs/PluggablePortableAreas</a>.
</p>
